@use '../custom' as *;
@use '../components/mixins' as *;

.portfolio {
  background: $white;
  margin-top: -.25rem;
  position: relative;
  z-index: 5;

  &_headings {
    height: 100px;
    position: sticky;
    top: 168px;

    @include media-breakpoint-down(md) {
      position: relative;
      top: 0;
      text-align: center;
      margin-bottom: 5rem;
    }
  }
  &_card {
    a {
      text-decoration: none;
      color: black;

      img {
        width: 50%;
        margin: auto;

        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }

      p {
        width: 50%;
        margin: auto;
        font-size: 15px;
      }
    }
  }
}
