@use '../custom' as *;
@use '../components/mixins' as *;

.portfolio {
  &_headings {
    height: 100px;
    position: sticky;
    top: 168px;
  }
  &_card {
    a {
      text-decoration: none;
      color: black;

      img {
        width: 50%;
        margin: auto;
      }

      p {
        width: 50%;
        margin: auto;
        font-size: 15px;
      }
    }
  }
}

