@use '../custom' as *;
@use '../components/mixins' as *;

.portfolio {
  &_headings {
    height: 100px;
    position: sticky;
    top: 168px;

    @include media-breakpoint-down(sm) {
    position: relative;
    top: 0;
    text-align: center;
    margin-bottom: 5rem;
    }
  }
  &_card {
    a {
      text-decoration: none;
      color: black;

      img {
        width: 50%;
        margin: auto;

        @include media-breakpoint-down(sm){
          width: 100%;
        }
      }

      p {
        width: 50%;
        margin: auto;
        font-size: 15px;
      }
    }
  }
}
