@use '../custom' as *;

.blog {
  &-content {
    .card {
      width: 320px;
      display: none;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        display: inline-block;
      }
      &-body {
        overflow: hidden;
        max-height: 520px;

        .separator {
          max-width: 300px;
          overflow: hidden;
          img {
            position: relative;
            left: -15px;
            max-height: 175px;
          }
        }
        .flex-grow, p {
          max-height: 45px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &-title {
        text-transform: capitalize;
        padding-top: 1rem;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      &-footer {
        background-color: transparent;
        font-size: 0.75rem;
        padding: 1rem 0;
        p {
          margin: auto;
          i {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  &__post {
    &-byline {
      i {
        margin-right: 0.5rem;
      }
    }
    &-body {
      span {
        img {
          max-width: 300px;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  .sidebar-social {
    @media (min-width: 992px) {
      margin-top: 8rem;
    }

    &__links {
      a {
        i {
          font-size: 1.75rem;
          margin-right: 0.25rem;
          margin-left: 0.25rem;
        }
      }
    }
    .card-title {
      text-transform: uppercase;
    }
  }

  .featured-posts {
    a {
      text-decoration: none;
      color: inherit;
    }
    .card-title {
      text-transform: uppercase;
    }
    .sidebar-links {
      &__card {
        height: 100%;
        width: 100%;
      }
      .card {
        width: 100%;
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
        .btn {
          margin-top: 1rem;
          color: $white;
        }
      }
    }
  }
}
